.info{
    position: relative;
    overflow:hidden;
    height: 100vh;
    width:100%;
    padding: 30px;
    text-align: center;
    object-fit: cover;
}
.info h1{
    text-align: center;
    color: #1b3b5a;
}  
.imagg{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    z-index: -1;
}

form{
    position: absolute;
    padding: 40px;
    font-size: medium;
    color:teal;
    
}
.boxx textarea{
    width:90%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding:8px;
    border-radius: 10px;
    border: none;

}
.boxx input{
    width:90%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding:8px;
    border-radius: 10px;
    border: none;
}

.boxx button{
    width: 90%;
    padding: 10px;
    color: white;
    background: teal;
    border: none;
    border-radius: 10px;
}
