.dish{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding:20px;
    object-fit: cover;


}
.eat{
    border:3px solid white;
    position:relative;
    overflow: hidden;
    height: 400px;
    border-radius: 15px;
}
.eat img{
    height: 100%;
    width: 100%;

}
.text1{ 
    position:absolute;
    bottom:20px;
    left:20px;
    width:100%;
    justify-content: center;


}
.text1 h2{
     color:#ffffff;
     font-weight: bold;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.text1 p{

    color:#ffcc00;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    font-size: medium;
}
.text1 h3{
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    color: bisque;
}
.f h1{
    width: 100%;
    color:#1b3b5a;
    text-align: center;
}
 

@media (max-width: 768px){
    .dish{
        grid-template-columns: 1fr;
    }
    
    .eat{
        height: 300px;
    }

}