.dish{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding:20px;


}
.eat{
    border:3px solid white;
    position:relative;
    overflow: hidden;
    height: 400px;
    border-radius: 15px;
}
.eat img{
    height: 100%;
    width: 100%;

}
.text1{
    bottom:15px;
    text-align: center;
    position: absolute;


}
.text1 h2{
     color:#ffffff;
     font-weight: bold;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.text1 p{
    font-size: larger;
    color:#ffcc00;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.text1 h3{
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    color: bisque;
}
h1{
    text-align: center;
    color:#1b3b5a;
}
