.photo{
    display:grid;
    grid-template-columns: repeat(2);
    height: 600px;
    width: 100%;
    margin-left:20px;

}


.pic{
    height: 100%;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.hdg h1{
    color:#1b3b5a;
    text-align: center;
}
.pic button{
    width: 97%;
    padding: 10px;
    font-weight: bold;
    color:green;
    font-size: medium;
    background-color:rgb(240, 229, 214);
    border: none;
    border-radius: 10px;


}
.pic img{
    border-radius: 10px;
}
@media (max-width: 768px){
     .pic{
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .pic img{
        width: 100%;
        height: auto;
    }

    .pic button{
        width: 100%;
    
        
    }

    }
