html{
    overflow-x:hidden;
    
}
body{
    overflow-x:hidden;
    
}


header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 245, 245);
    margin-left: 10px;
    padding: 8px;
    align-items: center;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
}
.logo{
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    background:linear-gradient(to right,orange,blue) ;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.navbar a{
    margin-right: 10px;
    color:navy;     
    padding-right: 30px;
    text-decoration: none;
    padding:8px;
    

}
.navbar a:hover{
    color:rgb(72, 186, 231)
}
.front{
    position:relative;
    height:100vh;
    width:100%;
    overflow:hidden;

}    
.video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
} 
.ftext{
    color:white;
    text-align: center;
    z-index: 1;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);

}
.ftext h1{
    font-size: 60px;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
     color:darkblue;
} 
.ftext p{
    font-size: 25px;
}
footer{
    background-color: black;
    color:white;
    height: 100px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
  

/* ================= MOBILE RESPONSIVE FIX ================= */

@media (max-width: 768px){

    /* Header */
    header{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
 .navbar{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
    }

    .navbar a{
        padding: 5px 10px;
        margin: 0;
    }


    /* Front Section */
    .ftext h1{
        font-size: 28px;
    }

    .ftext p{
        font-size: 16px;
    }

   
}