.tourist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    padding:30px;

}
.spots{
    position: relative;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}
.spots img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.texts{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
button{
    padding: 6px 12px;
    border:none;
    background:gold;
    color:whitesmoke;
    border-radius: 5px;
    font-size: medium;
}
button:hover{
    background:skyblue;
}

.text p{
    color:whitesmoke;
    font-size: larger;
}
.loc h1{
    text-align: center;
    color:#1b3b5a;
}
@media (max-width: 768px){
      .tourist{
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .spots{
        height: 220px;
    }

    }
